<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Open edX 繁體中文平台 | 常見問題</title></%block>

<header><h1>常見問題</h1></header>

<section class="static-container tos">

<h3>關於「Open edX 繁體中文平台」</h3>
<p style="text-align: left;padding-left: 20px;padding-top: 20px; padding-bottom: 20px">
「Open edX 繁體中文平台」為採用<a href="http://code.edx.org/">Open edX</a>所架設的磨課師(MOOCs)平台。主要服務對象為所有使用中文的教師與學習者，由專業的學校夥伴提供華語界一流的磨課師課程。
</p>

<h3>如何申請平台帳號，申請後就可已註冊課程或建立課程嗎？</h3>
<p style="text-align: left;padding-left: 20px;padding-top: 20px">
「Open edX繁體中文平台」提供兩組環境：
</p>
	<ul>
		<li>正式平台：<a href="https://courses.openedx.tw">https://course.openedx.tw</a></li>
		<li>測試平台：<a href="https://sandbox.openedx.tw">https://sandbox.openedx.tw</a></li>
	</ul>
<p style="text-align: left;padding-left: 20px; padding-bottom: 20px">
正式平台上的課程為正式對外公開的磨課師課程，由專業的學校夥伴所提供，所有人都可以自由參與。而測試平台提供的是練習與學習的環境，比照目前<a href="http://www.edx.org">edX</a>所提供一個<a href="http://sandbox.edx.org/">edX public sandbox</a>測試環境的方式，點選畫面上方的「立即註冊」之後，就會同時在「學習管理系統」與「課程編輯系統」擁有同一個帳號，在「學習管理系統」中可以註冊修習一門課程、在「課程編輯系統」上可以建立一門課程。測試平台的課程會定期清除，正式的課程請見「<a href="https://courses.openedx.tw">Open edX 繁體中文平台</a>」。
</p>
</section>
