<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>服務條款</title></%block>

<header><h1>服務條款</h1></header>

<section class="static-container tos" style="padding: 0 25px; box-sizing: border-box;">
<h2>非常歡迎您光臨「Open edX 繁體中文平台」(以下簡稱本網站)為了保障您的權益，在註冊前請先詳細閱讀本同意書之所有內容，當您在點選「同意」後，即視為您已閱讀本同意書，並同意遵守以下所有同意書之規範。</h2>

<h3>一、遵守會員規範</h3>
<p>
在您於本網站註冊成為會員後，可以使用「Open edX 繁體中文平台」所提供之各種服務。當您使用「Open edX 繁體中文平台」時，即表示同意接受「Open edX 繁體中文平台」之會員規範及所有注意事項之約束。
</p>

<h3>二、使用服務</h3>
<p>
請您於註冊時儘可能提供符合真實之個人資料，您所登錄之資料事後若有變更時，也一併隨時更新。
</p>

<h3>三、資料之保護</h3>
<p>
對於會員所登錄或留存之個人資料，「Open edX 繁體中文平台」在未獲得會員同意以前，決不對外揭露會員之姓名、地址、電子郵件地址及其他依法受保護之個人資料。下述幾種特殊情況不受此限：
<ul>
	<li>基於法律之規定</li>
	<li>受司法機關或其他有權機關基於法定程序之要求</li>
	<li>為保障「Open edX 繁體中文平台」之財產及權益</li>
	<li>在緊急情況下為維護其他會員或第三人之人身安全</li>
</ul>
</p>

<h3>四、會員的義務與責任</h3>
<p>
會員對本身於「Open edX 繁體中文平台」或透過「Open edX 繁體中文平台」傳輸的一切內容自負全責。
<ul>
	<li>會員承諾遵守中華民國相關法規及一切國際網際網路規定與慣例。</li>
	<li>會員同意並保證不公布或傳送任何毀謗、不實、威脅、不雅、猥褻、不法、攻擊性、毀謗性或侵害他人智慧財產權的文字，圖片或任何形式的檔案於「Open edX 繁體中文平台」上。</li>
	<li>非經「Open edX 繁體中文平台」書面同意，會員不得於「Open edX 繁體中文平台」上從事廣告或販賣商品行為。</li>
	<li>會員同意避免在公眾討論區討論私人事務，發表文章時，請尊重他人的權益及隱私權。</li>
	<li>會員同意必須充份尊重著作權，禁止發表侵害他人各項智慧財產權之文字、圖片或任何形式的檔案。</li>
</ul>
</p>

<h3>五、禁止從事違反法律規定之行為</h3>
<p>
「Open edX 繁體中文平台」就會員的行為是否符合會員規範有最終決定權。若「Open edX 繁體中文平台」決定會員的行為違反本會員規範或任何法令，會員同意「Open edX 繁體中文平台」得隨時停止帳號使用權或清除帳號，並停止使用「Open edX 繁體中文平台」。會員在違反法律規定之情事，應自負法律責任。
</p>

<h3>六、服務之停止與更改</h3>
<p>
<ol>
  <li>於發生下列情形之一時，「Open edX 繁體中文平台」有權停止或中斷提供服務：
  	<ul>
  		<li>對「Open edX 繁體中文平台」之設備進行必要之保養及施工時</li>
  		<li>發生突發性之設備故障時</li>
  		<li>由於「Open edX 繁體中文平台」所申請之ISP業者無法提供服務時</li>
  		<li>因天災等不可抗力之因素致使「Open edX 繁體中文平台」無法提供服務時</li>
  	</ul>
  </li>
  <li>「Open edX 繁體中文平台」可能因公司或ISP業者網路系統軟硬體設備之故障、失靈或人為操作上之疏失而造成全部或部份中斷、暫時無法使用、延遲或造成資料傳輸或儲存上之錯誤、或遭第三人侵入系統篡改或偽造變造資料等，會員不得因此而要求任何補償。</li>
</ol>
</p>

<h3>七、保管及通知義務</h3>
<p>
您有責任維持密碼及帳號的機密安全。您必須完全負起因利用該密碼及帳號所進行之一切行動之責任。當密碼或帳號遭到未經授權之使用，或發生其他任何安全問題時，您必須立即通知「Open edX 繁體中文平台」，每次您連線完畢，均要結束您的帳號使用。因您未遵守本項約定所生之任何損失或損害，我們將無法亦不予負責。
</p>

<h3>八、特別同意事項</h3>
<p>
您同意於「Open edX 繁體中文平台」所發表之一切內容僅代表您個人之立場與行為，並同意承擔所有相關衍生之責任，「Open edX 繁體中文平台」不負任何責任。
</p>

<h3>九、擔保責任免除</h3>
<p>
<ol>
	<li>「Open edX 繁體中文平台」保留隨時停止、更改各項服務內容或終止任一會員帳號使用之權利，無需事先通知會員本人。無論任何情形，就停止或更改服務或終止會員帳號使用所可能產生之困擾、不便或損害，「Open edX 繁體中文平台」對任何會員或第三人均不負任何責任。</li>
	<li>「Open edX 繁體中文平台」保留將來新增、修改或刪除各項服務之全部或一部之權利，且不另行個別通知會員不得因此而要求任何補償或賠償。</li>
	<li>「Open edX 繁體中文平台」提供之特定服務可能存在專屬之服務條款，在此情形下，雙方權利義務將依據該服務之專屬條款決定之。</li>
</ol>
</p>

<h3>十、損害賠償</h3>
<p>
因會員違反相關法令或違背本同意書之任一條款，致「Open edX 繁體中文平台」或其關係企業、受僱人、受託人、代理人及其他相關履行輔助人因而受有損害或支出費用（包括且不限於因進行民事、刑事及行政程序所支出之律師費用）時，會員應負擔損害賠償責任或填補其費用。
</p>

<h3>十一、會員規範之修改</h3>
<p>
「Open edX 繁體中文平台」保留隨時修改本會員規範之權利，「Open edX 繁體中文平台」將於修改會員規範時，於WEB首頁公告修改之內容，而不另對會員作個別通知。 若會員不同意修改的內容，請勿繼續使用「Open edX 繁體中文平台」。如果會員繼續使用「Open edX 繁體中文平台」，將視為會員已同意並接受本規範等增訂或修改內容之約束。
</p>

<h3>十二、個別條款之效力</h3>
<p>
本同意書所定之任何會員條款之全部或一部無效時，不影響其他條款之效力。
</p>

<h3>十三、準據法及管轄法院</h3>
<p>
本同意書之解釋及適用以及會員因使用本服務而與「Open edX 繁體中文平台」間所生之權利義務關係，應依中華民國法令解釋適用之。其因此所生之爭議，以臺灣臺北地方法院為第一審管轄法院。
</p>

<p style="text-align:right;">最後修訂日期： 2014年08月19日</p>

</section>
