<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>隱私權保護與資訊安全政策</title></%block>

<header><h1>隱私權保護與資訊安全政策</h1></header>

<section class="static-container tos" style="padding: 0 25px; box-sizing: border-box;">
<h2>非常歡迎您光臨「Open edX 繁體中文網站」(以下簡稱本網站)，本網站十分重視您的個人隱私權，為協助您清楚了解本網站如何蒐集、處理、利用及保護您的網路隱私及個人資料，請您詳細閱讀本網站隱私權保護及資訊安全政策。</h2>

 

<h3>一、適用範圍</h3>
<p>
  隱私權保護及資訊安全政策，包括本網站如何處理您使用網站服務時收集到的個人識別資料。本政策不適用於本網站網頁提供其他非本網站的網路連結，您必須參考該連結網站中的隱私權保護與資訊安全政策。
</p>

<h3>二、資料的蒐集與使用方式</h3>
<p>
伺服器會記錄您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，此記錄僅為內部應用，做為我們增進網站服務的參考依據。當您參與本網站之相關服務時，您所提供之資料，我們會遵循「個人資料保護法」及相關法令規定，不會將其應用在超出收集特定目的以外之用途。除上述兩項情形之外，本網站將不會蒐集任何有關個人的身分資料。</p>

<h3>三、資料之保護</h3>
<p>
本網站主機設有必要的安全防護措施，並持續接受資訊安全管理系統驗證，您的個人資料採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義務者，將會受到相關的處分。</p>

<h3>四、資訊分享與使用</h3>
<p>
除了下列狀況外，本網站絕不會將您的個人資料揭露予第三人或使用於蒐集目的以外之其他用途：
<ul>
  <li>法律明文規定。</li>
  <li>配合公務機關執行法定職務必要範圍。</li>
  <li>為防止他人權益之重大危害。</li>
</ul>
</p>

<h3>五、Cookie之使用</h3>
<p>
為了提供您最佳的服務，本網站可能會在您的電腦中放置並取用我們的Cookie。若您不願接受Cookie的寫入，您可將瀏覽器的隱私權等級設定為「高」，即可拒絕Cookie的寫入，但可能會導致網站某些功能無法正常執行。
</p>

<h3>六、自我保護措施</h3>
<p>
請妥善保管您的密碼及個人資料，不要提供給任何人。在您完成個人化服務之使用後，務必記得登出帳號。若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料、信件或進入所屬單位管理區。
</p>

<h3>七、隱私權保護及資訊安全政策修正</h3>
<p>
本網站隱私權保護及資訊安全政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。
</p>

<p style="text-align:right;">最後修訂日期： 2014年08月19日</p>

</section>
