<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>中華開放教育平台 | 榮譽守則</title></%block>

<header><h1>榮譽守則</h1></header>

<section class="static-container tos">

<h3>所有參加「中華開放教育平台」課程的學生都必須遵守以下榮譽守則：</h3>
<ol>
	<li>我承諾只註冊一個帳號。</li>
	<li>我承諾遵守課程的規範，並服從教師或相關課程工作人員的指示。</li>
	<li>我承諾完全依靠自己努力完成所有的作業、測驗和考試(除了明確允許合作的考試以外，由課程提供者決定)。</li>
	<li>我承諾不將作業、測驗和考試的答案提供給其他任何人。內容不僅包括我自己作出的解答，還包括任何相關課程工作人員提供的官方解答。</li>
	<li>我承諾不使用任何其他不誠實的方式來提高自己的成績，也不使用任何其他不誠實的方式來提高或降低別人的成績。</li>
</ol>

<h3>參考資料</h3>
<h4 style="text-align: left;padding-left: 20px; padding-bottom: 20px"><a href="https://studentaffairs.stanford.edu/communitystandards/policy/honor-code">Stanford University: Honor Code | Student Affairs</a></h4>
<h4 style="text-align: left;padding-left: 20px; padding-bottom: 20px"><a href="https://www.edx.org/edx-terms-service">edX Honor Code Pledge</a></h4>

<p style="text-align:right;">最後修訂日期：2015年04月21日</p>
</section>
