## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${marketing_link('FAQ')}">常見問題</a></li>
        </ol>
      </nav>
      <p class="copyright">© 2015 Open edu 中華開放教育平台，保留部分權利</p>
        <nav class="nav-legal">
          <ul>
            <li class="nav-legal-01">
              <a href="${marketing_link('PRIVACY')}">隱私權保護與資訊安全政策</a>
            </li>
            <li class="nav-legal-01">
              <a href="${marketing_link('TOS')}">服務條款</a>
            </li>
            <li class="nav-legal-01">
              <a href="https://support.openedu.tw">技術支援</a>
            </li>
          </ul>
        </nav>
    </div>
    <div class="powered-by">
      <p>
        <a href="http://openedx.org/">
          <img src="https://s3.amazonaws.com/files.edx.org/openedx-logos/edx-openedx-logo-tag.png" alt="Powered by Open edX" width="150" height="50" />
        </a>
      </p>
    </div>
  </footer>
</div>
